ADVANCED NUMBER

In [1]:
#Hexadecimal and binary representation
#By calling hex you obtain the hexadecimal representation of numbers:
hex(12)

'0xc'

In [2]:
#This is how to get the binary representation
bin(128)

'0b10000000'

In [3]:
#We know how to do the square of a numver:
2**4

16

In [4]:
#We can also do 
pow(2, 4)

16

In [5]:
#Note that the pow function with 3 numbers is equivalent to x to the power of z mode w
pow(2, 4, 3)

1

In [6]:
#Absolute function
abs(-3)

3

In [8]:
#round function
round(4.7)

5

In [9]:
#This is how we can see two digits for the round function
round(3.145667, 2)

3.15

ADVANCED STRINGS

In [10]:
s = 'Hellow World'

In [11]:
#We can lower / upper cases
s.upper()

'HELLOW WORLD'

In [12]:
s.lower()

'hellow world'

In [14]:
#Count how many letters are in a string - There are two letters o in my string
s.count('o')

2

In [15]:
#We can also find the location of the first letter o:
s.find('o')

4

In [16]:
#One interesting thing we can do is to center our string like so:
s.center(20, 'z')

'zzzzHellow Worldzzzz'

In [18]:
#Expanded tabs method - The below can be done with print:
print('hello\thi')

hello	hi

In [19]:
#Or using expandtabs()
'hello\thi'.expandtabs()

'hello   hi'

In [21]:
s = 'hello'

In [24]:
s.isalnum()

True

In [25]:
s.isalpha()

True

In [26]:
s.islower()

True

In [27]:
s.isspace()

False

In [28]:
s.istitle()

False

In [30]:
s.isupper()

False

In [32]:
s.endswith('o')

True

In [33]:
s[--1]

'e'

In [34]:
#Split at e
s.split('e')

['h', 'llo']

In [37]:
#Partitions - Will search for the separator then the part before and the part after
s = "I could code in python all day"

In [38]:
s.partition('python')

('I could code in ', 'python', ' all day')

ADVANCED SETS

In [1]:
s = {1, 2, 3}

In [2]:
type(s)

set

In [3]:
s.add(4)

In [4]:
s

{1, 2, 3, 4}

In [5]:
sc = {1, 2, 3}

In [6]:
sc

{1, 2, 3}

In [8]:
s.difference(sc)

{4}

In [9]:
s1 = {1, 2, 3}

In [10]:
s2 = {1, 4,5}

In [11]:
s1.difference_update(s2)

In [12]:
s1

{2, 3}

In [16]:
s2 = {1, 2, 4}

In [17]:
s1.intersection_update(s2)

In [18]:
s1

set()

In [19]:
s1 = {1, 2}
s2 = {1, 2, 4}
s3 = {5}

In [20]:
s1.isdisjoint(s2)

False

In [21]:
s1.isdisjoint(s3)

True

In [22]:
s1.issubset(s2)

True

In [23]:
s1.issuperset(s1)

True

In [24]:
#Symmetric Difference
s1 = {1, 2}

In [25]:
s2 = {2, 4}

In [26]:
s1.symmetric_difference(s2)

{1, 4}

In [27]:
#Union
s1.union(s2)

{1, 2, 4}

In [28]:
#Update
s1.update(s2)

In [29]:
s1

{1, 2, 4}

ADVANCED DICTIONARIES

In [7]:
d = {'k1':1, 'k2':2}

In [8]:
#Dictionary Comprehension. Not very common but here is the syntax. Start with brackets and write the condition I want
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [9]:
#We created a dictionary through the dictionary comprehension above
#Let's also learn about 'zip'
{k:v**2 for k, v in zip(['a', 'b'], range(2))}

{'a': 0, 'b': 1}

Dictionary comprehension is something to be aware of, but it's kind of hard to read and not very common

In [12]:
#Iteration via iter method
for k in d.items():
    print(k)

('k1', 1)
('k2', 2)

ADVANCED LISTS

In [1]:
l = [1, 2, 3]

In [2]:
l.append(13)

In [3]:
l

[1, 2, 3, 13]

In [4]:
#there is no 10 in my list:
l.count(10)

0

In [5]:
#Let's check out append versus extend
x = [1, 2, 3]
x.append([4, 5])
#append adds the entire list

In [6]:
x

[1, 2, 3, [4, 5]]

In [7]:
#extends instead adds elements individually
x.extend([4, 5])

In [8]:
x

[1, 2, 3, [4, 5], 4, 5]

In [9]:
#Let's check out index
l.index(2)

1

In [10]:
l = [1, 2, 3, 4]

In [11]:
#The index of number 2 is 1
l.index(2)

1

In [12]:
#Let's check out insert
l

[1, 2, 3, 4]

In [13]:
#At the 2 index we will insert something:
l.insert(2, 'inserted')

In [14]:
l

[1, 2, 'inserted', 3, 4]

In [15]:
#Refresher: pop pops the last element:
l.pop()

4

In [16]:
l.pop()

3

In [17]:
#We can pass in an index into pop - pop the number at index zero
l.pop(0)

1

In [18]:
l

[2, 'inserted']

In [19]:
#Let's check out remove
l = [1, 2, 3, 4, 3]

In [20]:
l

[1, 2, 3, 4, 3]

In [24]:
l.remove(3)

In [25]:
l

[1, 2, 4]

In [26]:
l.reverse()

In [27]:
l

[4, 2, 1]

In [28]:
l.sort()

In [29]:
l

[1, 2, 4]

Ok time to move to the test!

HOMEWORK:
    
Advanced Numbers
Problem 1: Convert 1024 to binary and hexadecimal representation

In [5]:
#My solution before looking at the solution - Need to come up with 0b10000000000 and 0x400
#BINARY: use bin function
bin(1024)

'0b10000000000'

In [6]:
#HEXADECIMAL: Use hex function
hex(1024)

'0x400'

Problem 2: 
    Round 5.23222 to two decimal places

In [8]:
#Use the round function
round(5.23222, 2)

5.23

Advanced Strings
Problem 3: 
    
Check if every letter in the string s is lower case

In [9]:
s = 'hello how are you Mary, are you feeling okay?'

In [10]:
s

'hello how are you Mary, are you feeling okay?'

In [18]:
#My clumsy solution before I looked at the solution
for c in s:
    if c.lower():
        print('True')

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [19]:
#After looking at the solution: we can use the islower() method
s.islower()

False

Problem 4

How many times does the letter 'w' show up in the string below?

s = 'twywywtwywbwhsjhwuwshshwuwwwjdjdid'

In [26]:
s = 'twywywtwywbwhsjhwuwshshwuwwwjdjdid'
s.count('w')

12

Problem 5

Find the elements in set1 that are not in set2:

In [28]:
set1 = {2,3,1,5,6,8}
set2 = {3,1,7,5,6,8}

In [29]:
set1 - set2

{2}

In [30]:
#We can also use the difference method
set1.difference(set2)

{2}

Problem 6

Find all elements that are in either set:

In [31]:
#Use union
set1.union(set2)

{1, 2, 3, 5, 6, 7, 8}

Advanced Dictionaries

Problem 7

Create this dictionary: {0: 0, 1: 1, 2: 8, 3: 27, 4: 64} using a dictionary comprehension.

In [33]:
#Had to look at the solutions
{x:x**3 for x in range(5)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

Advanced Lists

Problem 8

Reverse the list below:

In [34]:

list1 = [1,2,3,4]

In [35]:
list1.reverse()

In [36]:
list1

[4, 3, 2, 1]

Problem 9

Sort the list below

In [37]:
l = [234, 56, 72, 7]

In [38]:
l.sort()

In [39]:
l

[7, 56, 72, 234]