Write a function that computes the volume of a sphere given its radius.

The volume of a sphere is given by the formula V = 4/3 pi r^3

check vol(2) = 33.49333333333333

In [12]:
#My original solution. I need to import pi first
import math

In [13]:
math.pi

3.141592653589793

In [14]:
pi= math.pi

In [15]:
pi

3.141592653589793

In [25]:
  #My original solution
def vol(rad):
    #volume = 4/3 * pi * rad**3
    #print(volume)
    
    #Solution provided, doesn't use import, approximates pi = 3.14
    #return (4/3) * (3.14) * (rad **3)
    
    #My final solution after looking at the solution provided
    return 4/3 * pi * rad**3

In [26]:
vol(2)

33.510321638291124

Write a function that checks whether a number is in a given range (inclusive of high and low)
Check: 
ran_check(5,2,7)
5 is in the ragne between 2 and 7

In [35]:
#My original solution. After looking at the solution I realized this is incorrect,
#because range does not include the high. What I should have used is high + 1
def ran_check(num, low, high):
    if num in range(low, high):
        print(f'{num} is in the range between {low} and {high}')

In [50]:
ran_check(5, 2, 7)

5 is in the range between 2 and 7

In [45]:
#My original solution if I only want to return a boolean
def ran_check_bool(num, low, high):
    return num in range(low, high)

In [51]:
ran_check_bool(7,2,7)

False

In [ ]:
#My original solution if I only want to return a boolean

In [52]:
def ran_check_bool(num, low, high):
    return num in range(low, high + 1)

In [53]:
ran_check_bool(7,2,7)

True

In [54]:
ran_check_bool(8,2,7)

False

In [55]:
ran_check_bool(5,2,7)

True

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33

In [38]:
   #My reasoning before I saw the solution: loop over every word. Set up a counter for upper cases and a counter for lower cases.Loope over the words in the string. If the first letter of the word is upper case increase the 
    #If the first letter of the word is upper case, increase counter for upper cases by 1, if the first letter of the word is 
    #lower case, increae the counter for lower cases by 1.
#def up_low(s):
    #countU = 0
    #countL = 0
    #for word in s:
        #if word[0] is upper:
            #countU += 1
        #elif word.islower():
            #countU += 1
            
#My reasoning after taking a pick at the solution: noticed using a dictionary serves us better here and learned the correct 
#syntax to say 'is upper' and 'is lower' in Python. Ran the code and got no error, bit not quite the result I was looking for

def up_low(s):
    d = {"upper": 0, "lower": 0}
    for c in s:
        if c.isupper():
            d["upper"] += 1
        elif c.islower():
            d["lower"] += 1
print(d["upper"])
print(d["lower"])

0
0

In [39]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

In [40]:
# Took another pick at the solution and noticed the else pass, which I need to take into account punctuation for ex. Also noted the indentation of print, it has to be under the for
#that's why I am not seeing my count increase!
def up_low(s):
    d = {"upper": 0, "lower": 0}
    for c in s:
        if c.isupper():
            d["upper"] += 1
        elif c.islower():
            d["lower"] += 1
        else:
            pass
    print(d["upper"])
    print(d["lower"])

In [41]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

4
33

Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [38]:
#Solution provided: use set then cast it into a list
def unique_list(lst):
    return set(lst)

In [39]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

In [40]:
def unique_list(lst):
    return list(set(lst))

In [41]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [54]:
#My solution was to use for loops and if statements. Set a new list and append numbers that are not identical to each other. 
#The hardest part was to express 'if the number is not equal to another number in the list. 
#I looked at the solution and learned you can use 'not in' 
def unique_list(lst):
    new_list = []
    for num in lst:
        if num not in new_list:
            new_list.append(num)
    return new_list

In [55]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
Write a Python function to multiply all the numbers in a list.
Sample List : [1, 2, 3, -4]
Expected Output : -24

In [66]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total = total

In [67]:
multiply([[1, 2, 3, -4]])

[1, 2, 3, -4]