This is my second real life project after I have received my certificate on April 3 2021: YAY!
    The task I was given is to create an easy to read 12 month rolling chart on TSA checkpoint travel numbers NOW vs YOY 
    and publish it on a weekly basis to be sent to all Directors & above. 
    Here's the [link](data:https://www.tsa.gov/coronavirus/passenger-throughput) from where you can obtain the data

Check out basic pandas here: https://www.youtube.com/watch?v=zmdjNSmRXF4

In [1]:
#First thing we need to do is to import pandas
import pandas as pd

In [30]:
#Now we can get the data from the report that we have inpd excel:
data = pd.read_excel('TSA_Month_YoY.xlsx')

In [31]:
#We can check the first few lines with:
data.head()

,Date,Month/Day,2021 Traveler Throughput,2020 Traveler Throughput,2019 Traveler Throughput,Unnamed: 5,Unnamed: 6,Unnamed: 7,Sorted Ascending,Month,2019,2020,2021
0,2020-12-31,2020-12-31,NaN,874406,2392331,NaN,NaN,NaN,2021-01-01,1,2126398,2311732,805990.0
1,2020-12-30,2020-12-30,NaN,1163696,2133253,NaN,NaN,NaN,2021-01-02,1,2345103,2178656,1192881.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,2020-12-28,2020-12-28,NaN,1111751,2500396,NaN,NaN,NaN,2021-01-04,1,2150571,2210542,1080346.0
4,2020-12-27,2020-12-27,NaN,1284599,2575985,NaN,NaN,NaN,2021-01-05,1,1975947,1806480,766594.0

In [33]:
#To get rid of the indexes in the first column we can set the index column to be Date:

data = pd.read_excel('TSA_Month_YoY.xlsx', index_col = "Date")

In [34]:
data

,Month/Day,2021 Traveler Throughput,2020 Traveler Throughput,2019 Traveler Throughput,Unnamed: 5,Unnamed: 6,Unnamed: 7,Sorted Ascending,Month,2019,2020,2021
Date,,,,,,,,,,,,
2020-12-31,2020-12-31,NaN,874406,2392331,NaN,NaN,NaN,2021-01-01,1,2126398,2311732,805990.0
2020-12-30,2020-12-30,NaN,1163696,2133253,NaN,NaN,NaN,2021-01-02,1,2345103,2178656,1192881.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-02,2021-01-02,1192881.0,2178656,2345103,NaN,NaN,NaN,2021-12-30,12,2133253,1163696,NaN
2021-01-01,2021-01-01,805990.0,2311732,2126398,NaN,NaN,NaN,2021-12-31,12,2392331,874406,NaN

In [35]:
#pd.set_option('Display.max_columns', 4)
pd.set_option('Display.max_rows', 4)

In [36]:
data.head()

,Month/Day,2021 Traveler Throughput,2020 Traveler Throughput,2019 Traveler Throughput,Unnamed: 5,Unnamed: 6,Unnamed: 7,Sorted Ascending,Month,2019,2020,2021
Date,,,,,,,,,,,,
2020-12-31,2020-12-31,NaN,874406,2392331,NaN,NaN,NaN,2021-01-01,1,2126398,2311732,805990.0
2020-12-30,2020-12-30,NaN,1163696,2133253,NaN,NaN,NaN,2021-01-02,1,2345103,2178656,1192881.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-28,2020-12-28,NaN,1111751,2500396,NaN,NaN,NaN,2021-01-04,1,2150571,2210542,1080346.0
2020-12-27,2020-12-27,NaN,1284599,2575985,NaN,NaN,NaN,2021-01-05,1,1975947,1806480,766594.0

In [8]:
# The dataframe can be converted into a dictionary
d = {
    '2019': [216398, 2345103],
    '2020': [2311732, 217856]
}

In [9]:
d

{'2019': [216398, 2345103], '2020': [2311732, 217856]}

In [10]:
#The advantage is that we can access it's keys, so the trick is to set up the columns titles as keys and the values as lists
d ['2019']

[216398, 2345103]

In [26]:
#We can check out the titles of all columns doing:
data.columns

Index([               'Month/Day', '2021 Traveler Throughput',
       '2020 Traveler Throughput', '2019 Traveler Throughput',
                     'Unnamed: 5',               'Unnamed: 6',
                     'Unnamed: 7',         'Sorted Ascending',
                          'Month',                       2019,
                             2020,                       2021],
      dtype='object')

In [27]:
type(data.columns)

pandas.core.indexes.base.Index

In [40]:
#I am only interested in the data starting from 'Sorted Ascending'
pd.read_excel('TSA_Month_YoY.xlsx', index_col=0, header = 0, usecols = "I:Z")

                  Month     2019     2020       2021
Sorted Ascending
2021-01-01            1  2126398  2311732   805990.0
2021-01-02            1  2345103  2178656  1192881.0
...                 ...      ...      ...        ...
2021-12-30           12  2133253  1163696        NaN
2021-12-31           12  2392331   874406        NaN

[365 rows x 4 columns]

In [ ]:
#You can also grab the columns by number
pd.read_excel('TSA_Month_YoY.xlsx', index_col = 0, header = 0, usecols = [0,])

In [22]:
d['2019', tuple(d['2020'])]

KeyError: ('2019', (2311732, 217856))

In [ ]:
#Let's try to find elements with BeautifulSoup
import bs4
import requests

In [ ]:
res = requests.get('https://parade.com/1202599/stephanieosmanski/countries-open-to-americans-right-now/')

In [ ]:
soup = bs4.BeautifulSoup(res.content, 'lxml')

In [ ]:
soup.prettify

In [ ]:
soup.find_all('ul')

In [ ]:
soup.find_all('.s1')

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel('05162021_List Of Countries.xlsx')

In [ ]:
data.head()

In [ ]:
country = data.groupby("Country")
['']

In [ ]:
country