IMPORT DATA FROM TEXT FILE

In [8]:
#Import the txt data from Manish into an excel file. Note these are data he extracted from the Sherpa URL we use on COA 
#website https://apply.joinsherpa.com/travel-restrictions?affiliateId=americanairlines.
#This URL will take you directly to the site with the toggle: https://apply.joinsherpa.com/map?affiliateid=lot

#To learn more about Pandas read: https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428

#For fun: https://www.python.org/dev/peps/pep-0020/

import pandas as pd

In [9]:
sherpaDF = pd.read_excel('July7_sample_searches_2SherpaData.xlsx')

In [10]:
sherpaDF

,CountryCode,CountryName,FullyVaccinated,TravelOpenness,EntryRestrictions,Covid19Test,Quarantine
0,ABW,Aruba,0,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MAY_BE_REQUIRED_QUARANTINE
1,ABW,Aruba,1,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MAY_BE_REQUIRED_QUARANTINE
2,AFG,Afghanistan,0,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,RECOMMENDED_QUARANTINE
3,AFG,Afghanistan,1,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,RECOMMENDED_QUARANTINE
4,AGO,Angola,0,LEVEL_3,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MANDATORY_QUARANTINE
...,...,...,...,...,...,...,...
449,ZAF,South Africa,1,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MAY_BE_REQUIRED_QUARANTINE
450,ZMB,Zambia,0,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MAY_BE_REQUIRED_QUARANTINE
451,ZMB,Zambia,1,LEVEL_2,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MAY_BE_REQUIRED_QUARANTINE
452,ZWE,Zimbabwe,0,LEVEL_3,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MANDATORY_QUARANTINE
453,ZWE,Zimbabwe,1,LEVEL_3,MANDATORY_ENTRY_RESTRICTIONS,MANDATORY_COVID_19_TEST,MANDATORY_QUARANTINE

In [11]:
#I'm only interested in the Country Name, Fully Vaccinated and TravelOpenness columns
levelsDF = sherpaDF.iloc[0:454, 1:4]

In [12]:
levelsDF

      CountryName  FullyVaccinated TravelOpenness
0           Aruba                0        LEVEL_2
1           Aruba                1        LEVEL_2
2     Afghanistan                0        LEVEL_2
3     Afghanistan                1        LEVEL_2
4          Angola                0        LEVEL_3
..            ...              ...            ...
449  South Africa                1        LEVEL_2
450        Zambia                0        LEVEL_2
451        Zambia                1        LEVEL_2
452      Zimbabwe                0        LEVEL_3
453      Zimbabwe                1        LEVEL_3

[454 rows x 3 columns]

In [13]:
#My goal is to only print the level for fully vaccinated people. There are several ways to do this. One is to drop all rows
#with an even index
fullyvaxDF = levelsDF.drop(0)

In [14]:
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness
1           Aruba                1        LEVEL_2
2     Afghanistan                0        LEVEL_2
3     Afghanistan                1        LEVEL_2
4          Angola                0        LEVEL_3
5          Angola                1        LEVEL_3
..            ...              ...            ...
449  South Africa                1        LEVEL_2
450        Zambia                0        LEVEL_2
451        Zambia                1        LEVEL_2
452      Zimbabwe                0        LEVEL_3
453      Zimbabwe                1        LEVEL_3

[453 rows x 3 columns]

In [15]:
fullyvaxDF = fullyvaxDF.drop(2)

In [16]:
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness
1           Aruba                1        LEVEL_2
3     Afghanistan                1        LEVEL_2
4          Angola                0        LEVEL_3
5          Angola                1        LEVEL_3
6        Anguilla                0        LEVEL_3
..            ...              ...            ...
449  South Africa                1        LEVEL_2
450        Zambia                0        LEVEL_2
451        Zambia                1        LEVEL_2
452      Zimbabwe                0        LEVEL_3
453      Zimbabwe                1        LEVEL_3

[452 rows x 3 columns]

In [17]:
for i in range(3, 454):
    if i%2==0:
        fullyvaxDF = fullyvaxDF.drop(i)

In [18]:
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness
1           Aruba                1        LEVEL_2
3     Afghanistan                1        LEVEL_2
5          Angola                1        LEVEL_3
7        Anguilla                1        LEVEL_2
9         Albania                1        LEVEL_1
..            ...              ...            ...
445       Vanuatu                1        LEVEL_4
447         Samoa                1        LEVEL_4
449  South Africa                1        LEVEL_2
451        Zambia                1        LEVEL_2
453      Zimbabwe                1        LEVEL_3

[227 rows x 3 columns]

In [19]:
#We can then make ax excel to be used to validate Column E of Amy's table:
#https://devopsfareportal-my.sharepoint.com/:x:/r/personal/ilaria_bossi_fareportal_com/_layouts/15/Doc.aspx?sourcedoc=%7BF1759EEF-8E62-4C66-89AD-C8C2C97DBE85%7D&file=International%20Countries%20to%20Focus%20on%202H21.xlsx&wdOrigin=OFFICECOM-WEB.SEARCH.SEARCH&ct=1625670965290&action=default&mobileredirect=true
fullyVaxOnly = fullyvaxDF.to_excel('OnlyFullyVaccinated.xlsx')

In [20]:
 for i in fullyvaxDF.iteritems():
        print('Sherpa rating for ' + fullyvaxDF['CountryName'] + ' is ' + fullyvaxDF['TravelOpenness'])

1             Sherpa rating for Aruba is LEVEL_2
3       Sherpa rating for Afghanistan is LEVEL_2
5            Sherpa rating for Angola is LEVEL_3
7          Sherpa rating for Anguilla is LEVEL_2
9           Sherpa rating for Albania is LEVEL_1
                         ...
445         Sherpa rating for Vanuatu is LEVEL_4
447           Sherpa rating for Samoa is LEVEL_4
449    Sherpa rating for South Africa is LEVEL_2
451          Sherpa rating for Zambia is LEVEL_2
453        Sherpa rating for Zimbabwe is LEVEL_3
Length: 227, dtype: object
1             Sherpa rating for Aruba is LEVEL_2
3       Sherpa rating for Afghanistan is LEVEL_2
5            Sherpa rating for Angola is LEVEL_3
7          Sherpa rating for Anguilla is LEVEL_2
9           Sherpa rating for Albania is LEVEL_1
                         ...
445         Sherpa rating for Vanuatu is LEVEL_4
447           Sherpa rating for Samoa is LEVEL_4
449    Sherpa rating for South Africa is LEVEL_2
451          Sherpa rating for Zambia is LEVEL_2
453        Sherpa rating for Zimbabwe is LEVEL_3
Length: 227, dtype: object
1             Sherpa rating for Aruba is LEVEL_2
3       Sherpa rating for Afghanistan is LEVEL_2
5            Sherpa rating for Angola is LEVEL_3
7          Sherpa rating for Anguilla is LEVEL_2
9           Sherpa rating for Albania is LEVEL_1
                         ...
445         Sherpa rating for Vanuatu is LEVEL_4
447           Sherpa rating for Samoa is LEVEL_4
449    Sherpa rating for South Africa is LEVEL_2
451          Sherpa rating for Zambia is LEVEL_2
453        Sherpa rating for Zimbabwe is LEVEL_3
Length: 227, dtype: object

In [21]:
#I want to see which one is faster, creating excel file or listing all ratings? CREATING EXCEL IS THE SLOWEST, 290 - 400 ms
import timeit
code = """import pandas as pd
sherpaDF = pd.read_excel('July7_sample_searches_2SherpaData.xlsx')
levelsDF = sherpaDF.iloc[0:454, 1:4]
for i in range(4, 454):
    if i%2==0:
        fullyvaxDF = levelsDF.drop(i)
fullyVaxOnly = fullyvaxDF.to_excel('OnlyFullyVaccinated.xlsx')"""

execution_time = timeit.timeit(code, number=1)

print(execution_time)

0.30047750000005635

In [22]:
#I want to see which one is faster, creating excel file or listing all ratings? LISTING ALL RECORDS IS FASTER, 130 - 200 ms
import timeit
code = """import pandas as pd
sherpaDF = pd.read_excel('July7_sample_searches_2SherpaData.xlsx')
fullyvaxDF = sherpaDF.iloc[0:454, 1:4]
for i in range(4, 454):
    if i%2==0:
        fullyvaxDF = fullyvaxDF.drop(i)
for i in fullyvaxDF.iteritems():
    print('Sherpa rating for ' + fullyvaxDF['CountryName'] + ' is ' + fullyvaxDF['TravelOpenness'])"""

execution_time = timeit.timeit(code, number=1)

print(execution_time)

0             Sherpa rating for Aruba is LEVEL_2
1             Sherpa rating for Aruba is LEVEL_2
2       Sherpa rating for Afghanistan is LEVEL_2
3       Sherpa rating for Afghanistan is LEVEL_2
5            Sherpa rating for Angola is LEVEL_3
                         ...
445         Sherpa rating for Vanuatu is LEVEL_4
447           Sherpa rating for Samoa is LEVEL_4
449    Sherpa rating for South Africa is LEVEL_2
451          Sherpa rating for Zambia is LEVEL_2
453        Sherpa rating for Zimbabwe is LEVEL_3
Length: 229, dtype: object
0             Sherpa rating for Aruba is LEVEL_2
1             Sherpa rating for Aruba is LEVEL_2
2       Sherpa rating for Afghanistan is LEVEL_2
3       Sherpa rating for Afghanistan is LEVEL_2
5            Sherpa rating for Angola is LEVEL_3
                         ...
445         Sherpa rating for Vanuatu is LEVEL_4
447           Sherpa rating for Samoa is LEVEL_4
449    Sherpa rating for South Africa is LEVEL_2
451          Sherpa rating for Zambia is LEVEL_2
453        Sherpa rating for Zimbabwe is LEVEL_3
Length: 229, dtype: object
0             Sherpa rating for Aruba is LEVEL_2
1             Sherpa rating for Aruba is LEVEL_2
2       Sherpa rating for Afghanistan is LEVEL_2
3       Sherpa rating for Afghanistan is LEVEL_2
5            Sherpa rating for Angola is LEVEL_3
                         ...
445         Sherpa rating for Vanuatu is LEVEL_4
447           Sherpa rating for Samoa is LEVEL_4
449    Sherpa rating for South Africa is LEVEL_2
451          Sherpa rating for Zambia is LEVEL_2
453        Sherpa rating for Zimbabwe is LEVEL_3
Length: 229, dtype: object
0.16837020000002667

In [23]:
#See this tutorial to understand how to use json files in Python: https://www.youtube.com/watch?v=7GFXm8HUD7s
import json

In [24]:
my_string = fullyvaxDF.to_json(orient = 'records')

In [25]:
my_json_loads = json.loads(my_string)

In [26]:
my_json_loads

[{'CountryName': 'Aruba', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Afghanistan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Angola', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Anguilla',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Albania', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Andorra', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'United Arab Emirates',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Argentina',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Armenia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'American Samoa',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Antigua and Barbuda',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Australia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Austria', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Azerbaijan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Burundi',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Belgium', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Benin',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Burkina Faso',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Bangladesh',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Bulgaria',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Bahrain', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Bahamas', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Bosnia and Herzegovina',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Belarus', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Belize', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Bermuda', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Bolivia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Brazil', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Barbados',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Brunei', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Bhutan', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Botswana',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Central African Republic',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Canada', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Cocos (Keeling) Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Switzerland',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Chile', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'China', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Ivory Coast',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Cameroon',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Democratic Republic of the Congo',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Congo', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Cook Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Colombia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Comoros',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Cape Verde',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Costa Rica',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Cuba', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Christmas Island',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Cayman Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Cyprus', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Czech Republic',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Germany', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Djibouti',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Dominica',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Denmark', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Dominican Republic',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Algeria', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Ecuador', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Egypt', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Eritrea',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Spain', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Estonia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Ethiopia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Finland', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Fiji', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Falkland Islands (Islas Malvinas)',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'France', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Faroe Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Micronesia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Gabon', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'United Kingdom',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Georgia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Guernsey',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Ghana', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Gibraltar',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Guinea',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Guadeloupe',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Gambia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Guinea-Bissau',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Equatorial Guinea',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Greece', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Grenada', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Greenland',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Guatemala',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Guam', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Guyana', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Hong Kong',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Honduras',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Croatia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Haiti', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Hungary', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Indonesia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Isle of Man',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'India', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'British Indian Ocean Territory',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Ireland', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Iran', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Iraq', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Iceland', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Israel', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Italy', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Jamaica', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Jersey', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Jordan', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Japan', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Kazakhstan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Kenya', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Kyrgyzstan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Cambodia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Kiribati',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Saint Kitts and Nevis',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'South Korea',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Kuwait', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Laos', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Lebanon', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Liberia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Libya', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Saint Lucia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Liechtenstein',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Sri Lanka',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Lesotho',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Lithuania',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Luxembourg',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Latvia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Macau', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Morocco', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Monaco', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Moldova', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Madagascar',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Maldives',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Mexico', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Marshall Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'North Macedonia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Mali', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Malta', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Myanmar', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Montenegro',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Mongolia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Northern Mariana Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Mozambique',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Mauritania',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Montserrat',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Martinique',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Mauritius',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Malawi', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Malaysia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Namibia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Niger', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Norfolk Island',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Nigeria', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Nicaragua',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Niue',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Netherlands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Norway', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Nepal', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Nauru',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'New Zealand',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Oman', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Pakistan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Panama', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Pitcairn Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Peru', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Philippines',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Palau', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Papua New Guinea',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Poland', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Puerto Rico',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Portugal',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Paraguay',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Palestinian Territories',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'French Polynesia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Qatar', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'RÃ©union',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Romania', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Russia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Rwanda', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Saudi Arabia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Sudan', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Senegal', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Singapore',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'South Georgia and the South Sandwich Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Saint Helena, Ascension and Tristan da Cunha',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Solomon Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Sierra Leone',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'El Salvador',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'San Marino',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Somalia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Serbia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'SÃ£o TomÃ© and PrÃ\xadncipe',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Suriname',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Slovakia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Slovenia',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Sweden', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Eswatini',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Seychelles',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Syria', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Turks and Caicos Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Chad',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Togo', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Thailand',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'},
 {'CountryName': 'Tajikistan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Tokelau',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'East Timor',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Tonga', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Trinidad and Tobago',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Tunisia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Turkey', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Tuvalu',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Taiwan', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Tanzania',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Uganda', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Ukraine', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'United States Minor Outlying Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'NO_INFORMATION'},
 {'CountryName': 'Uruguay', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Uzbekistan',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Vatican City',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_1'},
 {'CountryName': 'Saint Vincent and the Grenadines',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Venezuela',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'British Virgin Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'U.S. Virgin Islands',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Vietnam', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Vanuatu', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'Samoa', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_4'},
 {'CountryName': 'South Africa',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Zambia', 'FullyVaccinated': 1, 'TravelOpenness': 'LEVEL_2'},
 {'CountryName': 'Zimbabwe',
  'FullyVaccinated': 1,
  'TravelOpenness': 'LEVEL_3'}]

In [27]:
with open("validate.json", "w") as p:
    json.dump(my_json_loads, p, indent = 4, sort_keys = True)

In [28]:
with open('validate.json', 'r') as p:
    json.load(p)

In [29]:
#I want to see which one is faster, creating listing all ratings or using json? 
#JSON IS IN SAME RANGE AS LISTING ALL RESULTS AND FASTER THAN MAKING EXCEL
# 130 - 300 ms
import timeit
code = """import pandas as pd
sherpaDF = pd.read_excel('July7_sample_searches_2SherpaData.xlsx')
levelsDF = sherpaDF.iloc[0:454, 1:4]
for i in range(4, 454):
    if i%2==0:
        fullyvaxDF = levelsDF.drop(i)
import json
my_string = fullyvaxDF.to_json(orient = 'records')
my_json_loads = json.loads(my_string)
my_string = levelsDF.to_json(orient = 'records')
my_json_loads
with open("validate.json", "w") as p:
    json.dump(my_json_loads, p, indent = 4, sort_keys = True)
with open('validate.json', 'r') as p:
    json.load(p)"""

execution_time = timeit.timeit(code, number=1)

print(execution_time)

0.1385215000000244

In [30]:
#Sara's feedback: there's really no need for our use case to measure the time: the time it will take for Amy
#to validate the Sherpa ratings in the excel will be of the order of seconds or even minutes, so it doesn't really matter 
#how fast we work with the dataframes

#There's other ways of filtering only the fully vaccinated rows. Here I just got lucky that all odd rows 
#happened to be associated with fully vaccinated. A better way to do this is by using the brackets to ask precisely what
#I am interested into: the rows with values of the FullyVaccinated column == 1

fullyvaxDF = levelsDF[levelsDF['FullyVaccinated'] == 1]

In [31]:
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness
1           Aruba                1        LEVEL_2
3     Afghanistan                1        LEVEL_2
5          Angola                1        LEVEL_3
7        Anguilla                1        LEVEL_2
9         Albania                1        LEVEL_1
..            ...              ...            ...
445       Vanuatu                1        LEVEL_4
447         Samoa                1        LEVEL_4
449  South Africa                1        LEVEL_2
451        Zambia                1        LEVEL_2
453      Zimbabwe                1        LEVEL_3

[227 rows x 3 columns]

In [32]:
notfullyvaxDF = levelsDF[levelsDF['FullyVaccinated'] == 0]

In [33]:
notfullyvaxDF

      CountryName  FullyVaccinated TravelOpenness
0           Aruba                0        LEVEL_2
2     Afghanistan                0        LEVEL_2
4          Angola                0        LEVEL_3
6        Anguilla                0        LEVEL_3
8         Albania                0        LEVEL_1
..            ...              ...            ...
444       Vanuatu                0        LEVEL_4
446         Samoa                0        LEVEL_4
448  South Africa                0        LEVEL_2
450        Zambia                0        LEVEL_2
452      Zimbabwe                0        LEVEL_3

[227 rows x 3 columns]

In [34]:
#Also try with query

#Understanding how split works
level = 'LEVEL_2'
level.split()

['LEVEL_2']

In [35]:
level.split('_')

['LEVEL', '2']

In [36]:
level.split('2')

['LEVEL_', '']

In [37]:
level.split('LEVEL')

['', '_2']

In [38]:
level.split('_')[0]

'LEVEL'

In [39]:
level.split('_')[1]

'2'

In [40]:
#Let's define a function that will help us get rid of 'LEVEL_' and return an integer for the Sherpa Rating

In [41]:
sherpaRating = level.split('_')[1]

In [42]:
sherpaRating

'2'

In [43]:
def extract_level(level: str):
    sherpaRating = level.split('_')[1]
    return int(sherpaRating)

In [44]:
extract_level(level)

2

In [45]:
#Let's now focus on the third column. Let's get rid of the text LEVEL_ and turn the values into integers so it
#will be easier to handle them to manipulate Amy's report
fullyvaxDF['TravelOpenness']

1      LEVEL_2
3      LEVEL_2
5      LEVEL_3
7      LEVEL_2
9      LEVEL_1
        ...
445    LEVEL_4
447    LEVEL_4
449    LEVEL_2
451    LEVEL_2
453    LEVEL_3
Name: TravelOpenness, Length: 227, dtype: object

In [46]:
#Pandas.apply allow the users to pass a function and apply it on every single value of the Pandas series
fullyvaxDF['TravelOpenness'].apply(extract_level)

ValueError: invalid literal for int() with base 10: 'INFORMATION'

In [47]:
#SARA'S FEEDBACK: instead of using 0 use a large number, for ex. 10. This is because 0 could sound like a perfect place to
#travel in this context, while it's quite the opposite. Act as if you were training a machine. For ex. if you may want to 
#find all good places to travel less than LEVEL_3: python would pick up the LEVEL_0 too, and that is logically incorrect.
#Adopt this mindset: start from the end and imagine you are training a machine by reverse engineering every step.


#The error above happens because some of the values in TravelOpenness are equal to 'NO INFORMATION' (See the excel 
#'OnlyFullyVaccinated'. Let's replaced all 'NO INFORMATION' with 'LEVEL_10', and save the excel with a new name 
#'OnlyFullyVaccinated_LEVEL_10'. That should solve the problem.
#Let's update my dataframe:
fullyvaxDF_LEVEL_10 = pd.read_excel('OnlyFullyVaccinated_LEVEL_10.xlsx')

In [48]:
fullyvaxDF_LEVEL_10

     Unnamed: 0   CountryName  FullyVaccinated TravelOpenness
0             1         Aruba                1        LEVEL_2
1             3   Afghanistan                1        LEVEL_2
2             5        Angola                1        LEVEL_3
3             7      Anguilla                1        LEVEL_2
4             9       Albania                1        LEVEL_1
..          ...           ...              ...            ...
222         445       Vanuatu                1        LEVEL_4
223         447         Samoa                1        LEVEL_4
224         449  South Africa                1        LEVEL_2
225         451        Zambia                1        LEVEL_2
226         453      Zimbabwe                1        LEVEL_3

[227 rows x 4 columns]

In [49]:
#This will give me a warning even if I am able to get the result I was looking for, in my case add a column stripped of the
#string 'LEVEL_' and only display a column 'TravelOpennessint' of integers:

fullyvaxDF['TravelOpennessInt'] = fullyvaxDF_LEVEL_10['TravelOpenness'].apply(lambda x: extract_level(x)).to_list()

<ipython-input-49-a4f907997fca>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fullyvaxDF['TravelOpennessInt'] = fullyvaxDF_LEVEL_10['TravelOpenness'].apply(lambda x: extract_level(x)).to_list()

In [50]:
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness  TravelOpennessInt
1           Aruba                1        LEVEL_2                  2
3     Afghanistan                1        LEVEL_2                  2
5          Angola                1        LEVEL_3                  3
7        Anguilla                1        LEVEL_2                  2
9         Albania                1        LEVEL_1                  1
..            ...              ...            ...                ...
445       Vanuatu                1        LEVEL_4                  4
447         Samoa                1        LEVEL_4                  4
449  South Africa                1        LEVEL_2                  2
451        Zambia                1        LEVEL_2                  2
453      Zimbabwe                1        LEVEL_3                  3

[227 rows x 4 columns]

In [51]:
#fullyvaxDF['TravelOpennessInt'] is a series with a length of 227
type(fullyvaxDF['TravelOpennessInt'])

pandas.core.series.Series

In [52]:
len(fullyvaxDF['TravelOpennessInt'])

227

In [53]:
#fullyvaxDF_LEVEL_10['TravelOpenness'].apply(lambda x: extract_level(x)).to_list() is a list of length 227
type(fullyvaxDF_LEVEL_10['TravelOpenness'].apply(lambda x: extract_level(x)).to_list())

list

In [54]:
len(fullyvaxDF_LEVEL_10['TravelOpenness'].apply(lambda x: extract_level(x)).to_list())

227

In [55]:
#Note that fullyvaxDF.loc['TravelOpennessInt'])  will give me a key error because it only has the col_indexr
#Instead I need to add the row_indexer too > fullyvaxDF.loc[:, 'TravelOpennessInt']
#Now I am dealing with a series of length 227 so I shouldn't get the error
type(fullyvaxDF.loc[:, 'TravelOpennessInt'])

pandas.core.series.Series

In [56]:
len(fullyvaxDF.loc[:, 'TravelOpennessInt'])

227

In [58]:
fullyvaxDF.loc[:, 'TravelOpennessInt'] = fullyvaxDF_LEVEL_10['TravelOpenness'].apply(lambda x: extract_level(x)).to_list()

In [59]:
#GREAT SUCCESS! Now I get the result I want with no more warning
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness  TravelOpennessInt
1           Aruba                1        LEVEL_2                  2
3     Afghanistan                1        LEVEL_2                  2
5          Angola                1        LEVEL_3                  3
7        Anguilla                1        LEVEL_2                  2
9         Albania                1        LEVEL_1                  1
..            ...              ...            ...                ...
445       Vanuatu                1        LEVEL_4                  4
447         Samoa                1        LEVEL_4                  4
449  South Africa                1        LEVEL_2                  2
451        Zambia                1        LEVEL_2                  2
453      Zimbabwe                1        LEVEL_3                  3

[227 rows x 4 columns]

In [60]:
#My understanding is that fullyvaxDF['TravelOpenness'] selects the first level of the columns and returns a DataFrame that
#is singly-indexed. Then another Python operation selects the series indexed by 'TravelOpenness'. Pandas sees these 
#operations as separate events. e.g. separate calls, so it has to treat them as linear operations, they happen one after 
#another. Instead .loc[:, 'TravelOpenness'] passes a nested tuple of
#(slice(None),('TravelOpenness')) to a single call. This allows pandas to deal with this as a single entity.

#Furthermore this order of operations can be significantly faster, and allows one to index both axes if so desired.

#In addition, it’s very hard to predict whether the fullyvaxDF['TravelOpenness'] will return a view or a copy
#(it depends on the memory layout of the array, about which pandas makes no guarantees), and therefore whether 
#pandas will modify a temporary object that gets thrown out immediately afterward or if it will store it in memory

In [61]:
#Now I need to merge files to cross check TravelOpennessInt with column Sherpa Rating in the
#'International Countries to Focus on 2H21 (1)'
#Learn how to replace excel Vlookup in Python Using Pandas here https://www.youtube.com/watch?v=AHS925L8JVk
import pandas as pd
from pathlib import Path

In [62]:
fullyvaxDF

      CountryName  FullyVaccinated TravelOpenness  TravelOpennessInt
1           Aruba                1        LEVEL_2                  2
3     Afghanistan                1        LEVEL_2                  2
5          Angola                1        LEVEL_3                  3
7        Anguilla                1        LEVEL_2                  2
9         Albania                1        LEVEL_1                  1
..            ...              ...            ...                ...
445       Vanuatu                1        LEVEL_4                  4
447         Samoa                1        LEVEL_4                  4
449  South Africa                1        LEVEL_2                  2
451        Zambia                1        LEVEL_2                  2
453      Zimbabwe                1        LEVEL_3                  3

[227 rows x 4 columns]

In [74]:
fromAmyDF = pd.read_excel('OnlyFullyVaccinatedInt.xlsx', sheet_name = 'FromAmy')

In [75]:
fromAmyDF

,Country Name,Sherpa Rating\n1=Dk Grn\n2=Lt Grn\n3=Yellow\n4=Orange\n10=unk
0,United States,1
1,Anguilla,2
2,Algeria,4
3,American Samoa,4
4,Angola,3
...,...,...
222,Zimbabwe,3
223,Missing,10
224,Missing,10
225,Missing,10
226,Missing,10

In [82]:
#Next I want to shorten the third column in fromAmyDF to only say SherpaRating
fromAmyDF = fromAmyDF.rename(columns={'Sherpa Rating\n1=Dk Grn\n2=Lt Grn\n3=Yellow\n4=Orange\n10=unk': 'SherpaRating'})
#df.rename(columns={'A': 'Col_1', 'C': 'Col_3'}))

In [83]:
fromAmyDF

       Country Name  SherpaRating
0     United States             1
1          Anguilla             2
2           Algeria             4
3    American Samoa             4
4            Angola             3
..              ...           ...
222        Zimbabwe             3
223         Missing            10
224         Missing            10
225         Missing            10
226         Missing            10

[227 rows x 2 columns]

In [84]:
#Now we are ready to merge the two dataframe with VlookUp (pd.merge)
mergedDF = fullyvaxDF.merge(fromAmyDF,
                  left_on = 'CountryName', #provide column name from first dataframe
                  right_on = 'Country Name', #provide corresponding column name from the second dataframe,
                  how = 'left') #this means the first worksheet stays the same, we will be adding the second to the first. 
                                #This corresponds to an excel left merge

In [85]:
mergedDF

,CountryName,FullyVaccinated,TravelOpenness,TravelOpennessInt,Country Name,SherpaRating
0,Aruba,1,LEVEL_2,2,Aruba,2.0
1,Afghanistan,1,LEVEL_2,2,Afghanistan,2.0
2,Angola,1,LEVEL_3,3,Angola,3.0
3,Anguilla,1,LEVEL_2,2,Anguilla,2.0
4,Albania,1,LEVEL_1,1,Albania,1.0
...,...,...,...,...,...,...
222,Vanuatu,1,LEVEL_4,4,Vanuatu,4.0
223,Samoa,1,LEVEL_4,4,Samoa,4.0
224,South Africa,1,LEVEL_2,2,South Africa,2.0
225,Zambia,1,LEVEL_2,2,Zambia,2.0
226,Zimbabwe,1,LEVEL_3,3,Zimbabwe,3.0

In [89]:
#Not sure why my SherpaRating came out as a float. Let's convert it into int
def convert_to_int(SherpaRatingValue: float):
    AmyValuesInt = int(SherpaRatingValue)
    return int(AmyValuesInt)

In [91]:
convert_to_int(SherpaRatingValue)

NameError: name 'SherpaRatingValue' is not defined

In [67]:
#Now I can export DF1 into an excel for comparison
DF1.to_excel('SherpaRatingValidated.xlsx')

In [94]:
fromDF_LEVEL_0 = pd.read_excel('OnlyFullyVaccinated_LEVEL_0.xlsx', sheet_name = 'Sheet1')

In [95]:
fromAmy_LEVEL_0 = pd.read_excel('OnlyFullyVaccinated_LEVEL_0.xlsx', sheet_name = 'Sheet2')

In [97]:
DF1_LEVEL_0 = fromDF.merge(fromAmy_LEVEL_0,
                  left_on = 'CountryName', #provide column name from worksheet 1
                  right_on = 'Country Name', #provide corresponding column name from worksheet 2,
                  how = 'left') #this means the first worksheet stays the same, we will be adding the second to the first. 
                                #This corresponds to an excel left merge

In [98]:
DF1_LEVEL_0

,Unnamed: 0,Unnamed: 0.1,CountryName,FullyVaccinated,TravelOpenness,TravelOpennessInt,Country Name,Sherpa Rating
0,0,1,Aruba,1,LEVEL_2,2,Aruba,2.0
1,1,3,Afghanistan,1,LEVEL_2,2,Afghanistan,2.0
2,2,5,Angola,1,LEVEL_3,3,NaN,NaN
3,3,7,Anguilla,1,LEVEL_2,2,Anguilla,2.0
4,4,9,Albania,1,LEVEL_1,1,Albania,1.0
...,...,...,...,...,...,...,...,...
222,222,445,Vanuatu,1,LEVEL_4,4,NaN,NaN
223,223,447,Samoa,1,LEVEL_4,4,NaN,NaN
224,224,449,South Africa,1,LEVEL_2,2,South Africa,2.0
225,225,451,Zambia,1,LEVEL_2,2,Zambia,2.0
226,226,453,Zimbabwe,1,LEVEL_3,3,NaN,NaN

In [99]:
DF1.to_excel('SherpaRatingValidated_LEVEL_0.xlsx')

In [ ]:
#Look up the VLOOKUP to map in excel Write a little excel function - Next step read the excel and merge the new column

In [ ]:
#Pandas.apply allow the users to pass a function and apply it on every single value of the Pandas series. 
#https://www.geeksforgeeks.org/python-pandas-apply/

In [88]:
#Keep for reference
vaxDF['TravelOpenness'].apply(lambda x:x.split('_')[1])

1      2
3      2
5      3
7      2
9      1
      ..
445    4
447    4
449    2
451    2
453    3
Name: TravelOpenness, Length: 227, dtype: object

In [86]:
import requests

In [87]:
request = requests.get('https://apply.joinsherpa.com/travel-restrictions')

In [75]:
#You can take a look at the content with .content or .text
#reaquest.content
request.text

'<!DOCTYPE html><html lang="en"><head>\n    <meta charset="utf-8">\n    <title>Sherpa – Move Freely</title>\n    <base href="/">\n    <meta name="viewport" content="width=device-width, initial-scale=1">\n    <link rel="icon" type="image/x-icon" href="sherpa-favicon.ico">\n    <style type="text/css">@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fCBc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+1F00-1FFF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fBxc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0370-03FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fCxc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format(\'woff2\');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format(\'woff2\');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format(\'woff2\');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format(\'woff2\');unicode-range:U+1F00-1FFF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format(\'woff2\');unicode-range:U+0370-03FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format(\'woff2\');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format(\'woff2\');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format(\'woff2\');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+1F00-1FFF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0370-03FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format(\'woff2\');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+1F00-1FFF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0370-03FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format(\'woff2\');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}@font-face{font-family:\'Roboto\';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format(\'woff2\');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}</style>\n    <style type="text/css">@font-face{font-family:\'Material Icons\';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v90/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format(\'woff2\');}.material-icons{font-family:\'Material Icons\';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:\'liga\';-webkit-font-smoothing:antialiased;}</style>\n    <script type="text/javascript">\n      var _jipt = []\n      _jipt.push([\'project\', \'sherpa-web-app\'])\n    </script>\n    <!-- <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script> -->\n  <style>@import url(https://fonts.googleapis.com/icon?family=Material+Icons);body,html{height:100%;width:100%;font-size:16px;}body{margin:0;overscroll-behavior-y:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#081a2a;}.mat-typography{font:400 16px/24px DM Sans;letter-spacing:normal;}@font-face{font-family:DM Sans;font-style:italic;font-weight:400;font-display:swap;src:local("DM Sans Italic"),local("DMSans-Italic"),url(/assets/fonts/dm-sans/DMSans-Italic.ttf) format("truetype");unicode-range:U+0100-024f,U+0259,U+1e??,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff;}@font-face{font-family:DM Sans;font-style:italic;font-weight:400;font-display:swap;src:local("DM Sans Italic"),local("DMSans-Italic"),url(/assets/fonts/dm-sans/DMSans-Italic.ttf) format("truetype");unicode-range:U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd;}@font-face{font-family:DM Sans;font-style:italic;font-weight:500;font-display:swap;src:local("DM Sans Medium Italic"),local("DMSans-MediumItalic"),url(/assets/fonts/dm-sans/DMSans-MediumItalic.ttf) format("truetype");unicode-range:U+0100-024f,U+0259,U+1e??,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff;}@font-face{font-family:DM Sans;font-style:italic;font-weight:500;font-display:swap;src:local("DM Sans Medium Italic"),local("DMSans-MediumItalic"),url(/assets/fonts/dm-sans/DMSans-MediumItalic.ttf) format("truetype");unicode-range:U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd;}@font-face{font-family:DM Sans;font-style:italic;font-weight:700;font-display:swap;src:local("DM Sans Bold Italic"),local("DMSans-BoldItalic"),url(/assets/fonts/dm-sans/DMSans-BoldItalic.ttf) format("truetype");unicode-range:U+0100-024f,U+0259,U+1e??,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff;}@font-face{font-family:DM Sans;font-style:italic;font-weight:700;font-display:swap;src:local("DM Sans Bold Italic"),local("DMSans-BoldItalic"),url(/assets/fonts/dm-sans/DMSans-BoldItalic.ttf) format("truetype");unicode-range:U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd;}@font-face{font-family:DM Sans;font-style:normal;font-weight:400;font-display:swap;src:local("DM Sans Regular"),local("DMSans-Regular"),url(/assets/fonts/dm-sans/DMSans-Regular.ttf) format("truetype");unicode-range:U+0100-024f,U+0259,U+1e??,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff;}@font-face{font-family:DM Sans;font-style:normal;font-weight:400;font-display:swap;src:local("DM Sans Regular"),local("DMSans-Regular"),url(/assets/fonts/dm-sans/DMSans-Regular.ttf) format("truetype");unicode-range:U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd;}@font-face{font-family:DM Sans;font-style:normal;font-weight:500;font-display:swap;src:local("DM Sans Medium"),local("DMSans-Medium"),url(/assets/fonts/dm-sans/DMSans-Medium.ttf) format("truetype");unicode-range:U+0100-024f,U+0259,U+1e??,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff;}@font-face{font-family:DM Sans;font-style:normal;font-weight:500;font-display:swap;src:local("DM Sans Medium"),local("DMSans-Medium"),url(/assets/fonts/dm-sans/DMSans-Medium.ttf) format("truetype");unicode-range:U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd;}@font-face{font-family:DM Sans;font-style:normal;font-weight:700;font-display:swap;src:local("DM Sans Bold"),local("DMSans-Bold"),url(/assets/fonts/dm-sans/DMSans-Bold.ttf) format("truetype");unicode-range:U+0100-024f,U+0259,U+1e??,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+a720-a7ff;}@font-face{font-family:DM Sans;font-style:normal;font-weight:700;font-display:swap;src:local("DM Sans Bold"),local("DMSans-Bold"),url(/assets/fonts/dm-sans/DMSans-Bold.ttf) format("truetype");unicode-range:U+00??,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+feff,U+fffd;}.theme-wrapper .mat-typography{font:400 16px/24px DM Sans;letter-spacing:normal;}</style><link rel="stylesheet" href="styles.d1c2b20886c46fc4ac01.css" media="print" onload="this.media=\'all\'"><noscript><link rel="stylesheet" href="styles.d1c2b20886c46fc4ac01.css"></noscript></head>\n  <body class="theme-wrapper">\n    <app-root class="mat-typography"></app-root>\n\n    <!-- TODO: Stripe is here because we need it for creating elements -->\n    <script src="https://js.stripe.com/v3/"></script>\n  <script src="runtime.a9240ecf20a81c09fc4a.js" defer></script><script src="polyfills.0919cc0570bb14ca6480.js" defer></script><script src="main.b381c38c0dd68d2795d2.js" defer></script>\n\n</body></html>'

In [28]:
request

In [72]:
request.status_code

200

In [ ]:
#Now that we know how to filter out rows and columns as needed the question is once
#I download the data from the site they become obsolete they are not in real time. The way to get these data is by using 
#their API

#Manish shared API documentation, I sent request to access and got notification that
#their team will grant appropriate credentials based on my use case.

In [ ]:
#To parse the information you would need to use a library like BeautifulSoup

In [ ]:
#Another possible way to explore to add columns is with append or assign: 
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.append.html
#https://cmdlinetips.com/2019/01/3-ways-to-add-new-columns-to-pandas-dataframe/